
<label for="name">N Action</label>

<input type="text" id="name" name="name" required
      size="20">

<label class="container">Crédit d'impot
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label>
<label class="container">Droit de tirage (individuel)
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Droit de tirage (collectif)
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Four
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<label for="start">Start date:</label>

<input type="date" id="start" name="trip-start"
       value="2018-07-22"
       >