<a class="cni" >Modifier formateur</a>
<div class="container mt-5">
  <div class="card p-2">
      <div class="row">
          <div class="col-6">
  <form (ngSubmit)="onSubmit()">
 



    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Nom et Prénom</mat-label>
      <input matInput 
      placeholder="Nom et Prénom"
      required [(ngModel)]="formateur.nomFormateur"
      name="nomFormateur" id ="nomFormateur">
  </mat-form-field>




    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Spécialite</mat-label>
      <input matInput 
      placeholder="direction"
      required [(ngModel)]="formateur.specialite"
      name="specialite" id ="specialite">
  </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Direction</mat-label>
      <input matInput 
      placeholder="direction"
      required [(ngModel)]="formateur.direction"
      name="direction" id ="direction">
  </mat-form-field>


  <div align="end">
    <button mat-stroked-button color="primary" style="margin-right: 3px;">vider</button>
    <button type="submit" mat-stroked-button color="primary">Modifier</button>
  
</div>
  </form>
</div>
      </div></div></div>